.container-fluid{
    padding:0px;
    margin:0px;
}
.row{
   margin:0px; 
}

/*-- header begin --*/
.navbar-my {
    background: #222222 url(/asset/img/admin/header_bg.png) repeat-x;
    border-radius: 0px;
    margin-bottom: 0px;
    border:transparent;
}
.headerBox {
    height: 50px;
    width: 100%;
}
.headerBox h2{
    font-size: 22px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    text-align: left;
    text-indent: 1.8%;
    padding:0px;
    margin:0px;
    height: 50px;
    line-height: 50px;
}

.headerBox .sectionTitle {
    background: url(http://m.store.renyuxian.utan.com/static/app_renyuxian_store/image/admin/header_shadow.png) no-repeat left top;
}

/*-- header end --*/

/*-- breadcrumbs begin --*/

.navtoolbarBox {
    background: #F1F1F4 url(/asset/img/admin/secondary_bar.png) repeat-x;
    height: 35px;
}

.navtoolbarBox .user p {
    margin: 0;
    padding: 0;
    color: #666666;
    font-weight: bold;
    display: block;
    float: left;
    width: 85%;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    text-shadow: 0 1px 0 #fff;
    background: url(/asset/img/admin/icn_user.png) no-repeat center left;
    margin-left: 6%;
}

.navtoolbarBox .breadcrumbs_container {
    background: url(/asset/img/admin/secondary_bar_shadow.png) no-repeat left top;
    background-position-x: 0.1rem;
}

.navtoolbarBox article.breadcrumbs {
    float: left;
    padding: 0 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    height: 23px;
    margin: 4px 3%;
}

.navtoolbarBox .breadcrumbs a {
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 23px;
    text-decoration: none;
}

.navtoolbarBox .breadcrumbs a.current, .breadcrumbs a.current:hover {
    color: #9E9E9E;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.navtoolbarBox .breadcrumbs a:link, .breadcrumbs a:visited {
    color: #44474F;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}

.navtoolbarBox .breadcrumbs a:hover {
    color: #222222;
}

.navtoolbarBox .breadcrumb_divider {
    display: inline-block;
    width: 12px;
    height: 22px;
    background: url(/asset/img/admin/breadcrumb_divider.png) no-repeat;
    float: left;
    margin: 0 5px;
}

/*-- breadcrumbs end --*/

/*-- menubox begin --*/
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background: #E0E0E3 url(/asset/img/admin/sidebar.png) repeat;
        position: fixed;
        top: 85px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
    }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*-- menubox end --*/

/*-- menu begin --*/

.sidebar{
    padding:0px;
}

.sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    font-weight:bold;
    margin: 10px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
}

.toggleLink {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
    display: block;
    float: right;
    margin-right: 2%
}

.sidebar .toggleLink:hover {
    color: #77BACE;
    text-decoration: none;
}

.sidebar ul {
    clear: both;
    margin: 0; padding: 0;
}

.sidebar li {
    list-style: none;
    margin: 0 0 0 8%; 
    padding: 0;
}

.sidebar li a {
    font-size: 12px;
    color: #666666;
    padding-left: 25px;
    text-decoration: none;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    text-shadow: 0 1px 0 #fff;
    margin: 2px 0;
}

.sidebar li a:hover {
    color: #444444;
}

.sidebar p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0;
}

.sidebar a {
color: #666666;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}


.sidebar hr {
    border: none;
    outline: none;
    background: url(/asset/img/admin/sidebar_divider.png) repeat-x;
    display: block;
    width: 100%;
    height: 2px;
}


/*-- menu end --*/

/*-- mainBox begin --*/
.mainBox{
    padding: 20px 10px 0px 10px;
    min-height: 500px;
    background: url(/asset/img/admin/sidebar_shadow.png) repeat-y left top;
    margin-top:70px;
}

.mainBox .resetPadding{
    padding: 0px;
}

.mainBox .width-rem-15{
    width:15rem;
}

.mainBox .width-rem-40{
    width:40rem;
}

.mainBox .width-rem-10{
    width:10rem;
}

.mainBox .offsetLT-rem-4{
    margin-left:4rem;
    margin-top:1rem;
}

.mainBox .form-inline{
    display: inline-table;
}

.mainBox .panel-heading{
    font-weight: bold;
}

.mainBox .panel-heading>a{
    padding:0px 12px;
}

.mainBox .table-page{
    border-top: 1px solid #ddd;
    display: block;
    text-align: center;
    padding:5px;
}

.mainBox .tablesorter thead tr {
    cursor: pointer;
}
/*-- mainBox end --*/